<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Shizuku-compatible API permission -->
    <uses-permission
        android:name="moe.shizuku.manager.permission.API_V23" />

    <!-- Detect installed Gorilla Tag packages -->
    <queries>
        <package
            android:name="com.AnotherAxiom.GorillaTag" />

        <package
            android:name="com.TvMods.GorillaTag" />

        <!-- Bytezuku -->
        <package
            android:name="com.byteus.bytezuku" />

        <!-- Shizuku -->
        <package
            android:name="moe.shizuku.privileged.api" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="TvPatcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TvPatcher">

        <!-- Shizuku-compatible provider -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
